<!-- extend base layout -->
{% extends "index_base.html" %}

{% block head_css %}
        {{ super() }}
        <link href="{{url_for('static',filename='css/custom.css')}}" rel="stylesheet">
{% endblock %}

{% block content %}


      <div class="row" style="background:url('static/img/fabric_1.png')">
          <div class="col-md-3 col-md-offset-1 col-xs-offset-1 ">
           <h1> <img src="http://www.pccw.com/assets/PCCW Corporate Website/img/web_3A.png" alt="Building for Tomorrow, Today"></h1>
          </div>
          <div class="col-md-7 col-md-offset-1 col-xs-offset-1">
            <h2 class="featurette-heading">{{_("Careers with us")}}</h2>
          <ul>
            <li class="lead tight">{{_("We seek and groom local and global talents to meet the needs of both consumer and business customers.")}}</li>  
            <li class="lead tight"><a href= /careers_with_uspageview/Careers_with_usView/>{{_("Find out more")}}</a></li>
            

          </ul>
        </div>
      </div>

      <div class="row featurette" style="background:url('static/img/old_moon.png')">
        <div class="col-md-7 col-md-offset-1 col-xs-offset-1">
          <h2 class="featurette-heading">{{_("CSR")}}</h2>
        <ul>
            <li class="lead tight">{{_("We are committed to operating in a manner that is economically, socially and environmentally sustainable while balancing the interests of our various stakeholders.")}}</li>
            <li class="lead tight"><a href= /report_pageview/Report_view>{{_("Find out more")}}</a></li>

        </ul>
        </div>
        <div class="col-md-3 col-xs-3 col-md-offset-1 col-xs-offset-1">
          <h1><img src="http://www.pccw.com/assets/PCCW Corporate Website/img/web_3B.png"></i></h1>
        </div>
      </div>

       <div class="row" style="background:url('static/img/green_cup.png')">
          <div class="col-md-3 col-md-offset-1 col-xs-offset-1">
           <h1><img src="http://www.pccw.com/assets/PCCW Corporate Website/img/web_3C.png"></i></h1>
          </div>
          <div class="col-md-7 col-md-offset-1 col-xs-offset-1">
            <h2 class="featurette-heading">{{_("Look for our News?")}}</h2>
          <ul>
            <li class="lead tight"><a href= /newspageview/local_news/>{{_("Find out more")}}</a></li>
          </ul>
        </div>
      </div>
        <div class="col-md-7 investor-image" in-context-type="image"><img src="http://www.pccw.com/assets/PCCW Corporate Website/img/investor_news_img03.png"></div>
            
       
          <h2 class="featurette-heading">{{_("Investor Relations")}}</h2>
            <ul>
          <li class="lead tight">{{_("Information about PCCW’s financials and business development.")}}</li>
        <li class="lead tight"><a href= /investor_contacts_pageview/Investor_Contacts_view/>{{_("Find out more")}}</a></li>
                </ul>
        </div>
        
{% endblock %}
